.button {
  font-weight: normal;
  font-size: 1.2rem;
  color: whitesmoke;
  background-color: rgb(78, 10, 78);
  border: none;
  padding: 7px;
  transition: 0.5s ease-in-out;
}

.button:hover {
  background-color: rgb(117, 13, 117);
}
